header {
  position: fixed;
  padding-top: 1em;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5); /* Establece el color de fondo con opacidad */
  opacity: 1;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  font-weight: light;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent; /* Define un fondo transparente */
  transition: background-color 0.5s ease-in-out; /* Agrega una transición al cambio de color de fondo */
}
.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.6); /* Cambia el fondo al agregar la clase "scrolled" */
}
nav ul {
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}
nav li {
  margin: 0;
  text-transform: lowercase;
  letter-spacing: 0.15em;
  font-size: 1.2rem;   
  flex-grow: 1;
  text-align: center;
  padding: 0;
}
nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
nav a:hover {
  color: rgb(255, 255, 255);
  padding-bottom:0.3em;
  border-bottom:2px solid white;
}
